include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
recursive-include styler_rest_framework *.yml

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
